
<div class="col-md-3 padding-null hidden-xs">
  <div class="panel panel-default border-radius-null">
    <div class="panel-heading">
      <h3 class="panel-title">Pessoas ativas</h3>
    </div>
    <div class="panel-body seis">
      <div id="user_nav">
        <% if current_user %>
          Entrou como <strong class="usernameInput"><%= current_user.name %></strong>!
          <%= link_to "Sair", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Logar com Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
      </div>
      <div class="users">
      </div>
  
    </div>
  </div>
</div>


<div class="col-md-9 padding-null">
  <div class="panel panel-default border-radius-null margin-null border-lb-null">
    <div class="panel-heading">
      <h3 class="panel-title">Mensagens</h3>
    </div>
  </div>
  <div class="well border-radius-null border-null seis">
    <ul class="pages">
      <li class="chat page">
        <div class="chatArea">
          <ul class="messages"></ul>
        </div>
      </li>  
     </ul> 
  </div>

</div>
