@import "bootstrap/simple-sidebar";
@import "bootstrap/bootstrap";
@import "lightview/lightview";


$color-default: #0077A7;
$border-color-default: #028CC4;
$color-write: #fff;
$color-lightblue: #eef;
$color-silver: #ddd;
$border-color-silver: #ccc;
$color-black: #333;
$border-color-black: #555;


body{
  word-break: break-all;
  word-wrap: break-word;
  font-size:12px;
}
img{width:100%;}
h3{color:$color-default !important;}
li{list-style-type: none;}

.color-default {
  background-color: $color-default !important;
  border-color: $border-color-default !important;
}
.color-silver {
  background-color: $color-silver !important;
  border-color: $border-color-silver !important;
}
.padding-null{
  padding: 0px !important;
}
.margin-null{
  margin: 0px !important;
}
.bg-color-black{ background-color: $color-black;}
.username{float: left;}
.right{float:right;}
.seis{height:600px;}
.message{float: left; width: 100%; margin:10px;}
.write{color:$color-write !important;}
.border-radius-null{border-radius: 0px !important;}
.border-null{border:0px solid transparent !important;}
.border-lb-null{border-left: 0px !important;border-bottom:0px !important;}
.well{background-color: $color-lightblue !important;overflow-y: auto;}
.fixed-bottom{position:fixed !important;bottom:0px !important;width: 100%;margin-bottom: 0px !important;}
.input-message{ height: 33px; width: 72%; margin-top: 7px; margin-left: 19px;}
.btn-message{color:$color-write !important;background-color:$color-default;width:7%;}
.btn-image{color:$color-write !important;background-color:$color-black;width:7%;}
.messageBody{margin-left:5px;}
.log {color: gray; font-size: 76%; margin: 5px; text-align: center; }
.uname{margin:0 0 0 15px; position: relative; top: 10px; font-size: 15px; color: $color-default; text-transform: capitalize;}
.upload-preview{
  padding: 4px;
  max-width: 35%;
  max-height: 70%;
  display:table;
  position: absolute;
  right: 20%;
  bottom: 10%;
  background-color: rgba(0,0,0,0.5);
}
.upload-preview img{width:100%;}
.upload-preview .bottom{
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 0 3px 3px 3px;
}
.upload-preview .top{
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 3px 3px 0px 3px;
}
.balaom{
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  left: 14px;
  box-shadow: 1px 1px 1px #999;
}
.balao:before {
    border: solid;
    border-color: #EEF transparent;
    background-color: #fff;
    border-width: 5px 10px 5px 0px;
    margin-top: -2px;
    content: "";
    display: block;
    left: -3.3%;
    position: absolute;
    z-index: 99;
  }
.balao2:before{
  border: solid;
  border-color: #EEF transparent;
  background-color: #fff;
  border-width: 5px 10px 5px 0px;
  margin-top: -4px;
  content: "";
  display: block;
  left: -1.5%;
  position: absolute;
  z-index: 99;
}  

@media(max-width:700px) {
  .navbar-header {
     margin-right: 0px !important; 
     margin-left: 0px !important; 
  }
  .container {
    padding-right: 0px !important;
    padding-left: 0px !important;
   } 
  .col-md-12,.col-md-3,.col-md-9,.col-md-8{float:left;}
  .col-md-12 {
    width: 100%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-9 {
    width: 100%;
  }
  .col-md-8 {
    width: 75%;
  }
}
